@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}


<h1>The Joel Hilton Film Collection</h1>
<img src="~/img/JoelHiltonHeadshot.jpg" height="400"/>
<br />
<div>
    <a asp-controller="Home" asp-action="Podcasts">Check out our podcast</a>
    <a asp-controller="Home" asp-action="MovieInfo">Enter movie information</a>
</div>